<h1>Add doses for <%= @cocktail.name %></h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %> <br>
  <%= f.association :ingredient %> <br>
  <%= f.submit "Add a dose" %>
<% end %>
